<app-layout-content>
  <app-layout-content-main>
    <app-layout-card>
      <mat-card-content>
        <mat-horizontal-stepper #stepper linear>
          <mat-step [completed]="isVerified">
            <ng-template matStepLabel>邮箱验证</ng-template>
            <mat-spinner *ngIf="isLoading">正在验证</mat-spinner>
            <button (click)="isVerified = true; stepper.next()" color="primary" mat-raised-button>
              假装验证通过(测试)
            </button>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
          <mat-step [completed]="interestsComponent.isCompleted">
            <ng-template matStepLabel>兴趣设置</ng-template>
            <app-interests #interestsComponent>
            </app-interests>
            <button (click)="interestsComponent.isCompleted = true; stepper.next()" color="primary" mat-raised-button>
              假装验证通过(测试)
            </button>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
          <mat-step [completed]="isSetUsername">
            <ng-template matStepLabel>设置用户名</ng-template>
            <form (ngSubmit)="submitUsername()" [formGroup]="usernameForm" >
              <mat-form-field floatLabel="用户名" class="example-full-width">
                <input #username formControlName="username" matInput type="text">
                <mat-hint>4-20字符以内</mat-hint>
              </mat-form-field>
              <button (click)="submitUsername()" [disabled]="" color="primary" mat-raised-button>
                确定
              </button>
            </form>
            <div>
              <button mat-button matStepperPrevious>Back</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card-content>
    </app-layout-card>
  </app-layout-content-main>
  <app-layout-content-aside>
    <app-layout-card>
      <div class="aside-card__inner">
        <span>已经有账号了？</span>
        <a color="accent" mat-stroked-button routerLink="/login">立即登录</a>
      </div>
    </app-layout-card>
  </app-layout-content-aside>
</app-layout-content>
