<app-layout-content>
  <app-layout-content-main>
    <app-layout-card>
      <div *ngIf="!isVerified">
      <mat-card-title >验证邮箱</mat-card-title>
      <mat-spinner *ngIf="isLoading">正在验证</mat-spinner>
      <button color="primary" mat-raised-button (click)="isVerified = true">
        假装验证通过(测试)
      </button>
      </div>
      <mat-card-content>
      <app-interests *ngIf="isVerified">
      </app-interests>
      </mat-card-content>
    </app-layout-card>
  </app-layout-content-main>
  <app-layout-content-aside>
    <app-layout-card>
      <div class="aside-card__inner">
        <span>已经有账号了？</span>
        <a color="accent" mat-stroked-button routerLink="/login">立即登录</a>
      </div>
    </app-layout-card>
  </app-layout-content-aside>
</app-layout-content>
