.mat-card-title {
  margin-bottom: 0.75em;
}

.form__submit-container {
  margin-top: 1em;
}

.aside-card__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mat-label {
  width: 100px;
}
