<app-layout-content>
    <app-layout-card-fluid class="course-meta-wrapper">
        <app-layout-content>
            <app-layout-content-main class="course-meta-wrapper">
                    <div class="ProfileHeader-wrapper">
                        <div class="ProfileHeader-main">
                            <div class="UserAvatar ProfileHeader-avatar" style="top: 0px;">
                                <img (click)="updateReviews()" class="Avatar Avatar--large UserAvatar-inner"
                                     width="150" height="150" [src]="userInfo.src" [alt]="userInfo.username + '的头像'">
                            </div>
                            <div class="ProfileHeader-content">
                                <div class="ProfileHeader-contentHead">
                                    <h1 class="ProfileHeader-title">
                                        <span class="ProfileHeader-name">{{ userInfo.username }}</span>
                                        <span class="ztext ProfileHeader-headline"></span>
                                    </h1>
                                </div>
                                <div class="ProfileHeader-info">
                                    <div class="ProfileHeader-infoItem">
                                        <h2>年级: {{ userInfo.grade }}</h2>
                                    </div>
                                    <div class="ProfileHeader-infoItem">
                                        <h2>专业: {{ userInfo.major }}</h2>
                                    </div>
                                    <div *ngIf="isSelf" class="ProfileHeader-infoItem">
                                        <h2>邮箱: {{ userInfo.email }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </app-layout-content-main>
            <app-layout-content-aside class="course-meta-wrapper">
            </app-layout-content-aside>
        </app-layout-content>
    </app-layout-card-fluid>
</app-layout-content>
<app-layout-content class="layout-content-2">
    <app-layout-content-main>
        <app-layout-card>
        <mat-tab-group dynamicHeight>
            <mat-tab label="最新动态">
                <app-layout-card  class="review-card">
                    <mat-card-header class="review-card__meta">
                        <mat-card-title *ngIf="!isLoading&&reviews.length === 0">
                            该用户很懒 还没有动态哦
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content *ngIf="isLoading">
                        <mat-spinner></mat-spinner>
                    </mat-card-content>
                </app-layout-card>
                <div *ngIf="reviews !== undefined">
                    <app-layout-card *ngFor="let review of reviews" class="review-card">
                        <mat-card-header (click)="courseDetailPage(review.courseId)" class="review-card__meta">
                            <img [alt]="userInfo.username + '的头像'" mat-card-avatar [src]="userInfo.src" />
                            <mat-card-title>
                                {{userInfo.username}} 对 {{review.courseName}} 的评价
                            </mat-card-title>
                            <mat-card-subtitle>
                                <dl>
                                    <dt>选课时间：</dt>
                                    <dd>{{review.trimester}}</dd>
                                    <dt>教师：</dt>
                                    <dd>{{review.teacherName}}</dd>
                                    <dt>评论时间：</dt>
                                    <dd>{{review.createTime}}</dd>
                                    <dt>评价：</dt>
                                    <dd>{{getStars(review.rate)}}</dd>
                                </dl>
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{review.content}}</p>
                        </mat-card-content>
                        <mat-divider></mat-divider>
                        <mat-card-actions>
                            <button (click)="changeVoteStatus(review)" class="icon-btn" color="accent" mat-stroked-button>
                                <mat-icon>arrow_drop_up</mat-icon>
                                <span *ngIf="review.voted">你</span><span *ngIf="review.voted&&review.upVoterNum > 1">和{{review.upVoterNum - 1}}人</span><span *ngIf="review.voted">觉得有用</span>
                                <span *ngIf="!review.voted">{{review.upVoterNum}}人觉得有用</span>
                            </button>
                        </mat-card-actions>
                    </app-layout-card>
                </div>
                <app-layout-card class="review-card">
                    <mat-paginator (page)="pageChangeEvent($event)"
                                   [length]="totalRecordNumber"
                                   [pageSize]="pageSize"
                                   [pageSizeOptions]="pageSizeOptions"
                                   >
                    </mat-paginator>
                </app-layout-card>
            </mat-tab>
            <mat-tab *ngIf="isSelf" label="个人兴趣">
                <div>
                    <app-interests #interestsComponent>
                    </app-interests>
                </div>
            </mat-tab>
            <mat-tab *ngIf="isSelf" label="账号管理">
                <div>
                    <div>修改用户名</div>
                    <form [formGroup]="usernameForm" >
                        <mat-form-field>
                            <mat-label>用户名</mat-label>
                            <input #username formControlName="username" matInput type="text">
                            <mat-hint>4-20字符以内 支持汉字</mat-hint>
                        </mat-form-field>
                        <br>
                        <button (click)="submitUsername()" [disabled]="" color="primary" mat-raised-button>
                            确定
                        </button>
                    </form>
                    <div>修改密码</div>
                    <form (ngSubmit)="onSubmitNewPassword()" [formGroup]="changePasswordForm">
                        <div>
                            <mat-form-field>
                                <mat-label>新密码</mat-label>
                                <input #newPassword formControlName="newPassword" matInput type="text">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label>再次输入</mat-label>
                                <input #passwordAgain formControlName="passwordAgain" matInput type="password">
                                <mat-hint *ngIf="passwordAgain !== newPassword">两次输入 不一致</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="form__submit-container">
                            <button [disabled]="!changePasswordForm.valid || newPassword !== passwordAgain" color="primary" mat-raised-button>确认</button>
                        </div>
                    </form>
                </div>
            </mat-tab>
        </mat-tab-group>
        </app-layout-card>
    </app-layout-content-main>
    <app-layout-content-aside>
        <app-layout-card>
            <button (click)="updateWishList()" mat-icon-button color="primary" aria-label="心愿课">
                <mat-icon color="warn">favorite</mat-icon>
            </button>
            心愿课
        </app-layout-card>
        <app-layout-card>
            <div *ngIf="wishListFinished !== undefined">未完成</div>
            <div *ngIf="wishListFinished === undefined && wishList === undefined">To-Do</div>
            <mat-selection-list #wishes (selectionChange)="onSelection(wishes.selectedOptions.selected)">
                <div *ngIf="wishList">
                <mat-list-option *ngFor="let wish of wishList" [value]="wish.id">
                    {{wish.courseName}}
                </mat-list-option>
                </div>
                <mat-list-option *ngIf="wishList === undefined">
                    还没有添加过心愿课 <br>
                    快去行动吧
                </mat-list-option>
            </mat-selection-list>
            <mat-action-list *ngIf="isSelf&&wishList&&wishListIds&&wishListIds!==[]&&wishList!==[]">
                <button (click)="completeWishes()" mat-list-item aria-label="完成这些心愿">
                    <mat-icon color="accent">check_circle</mat-icon> 已实现
                </button>
                <button (click)="removeWishes(wishListIds)" mat-list-item aria-label="移除这些心愿">
                    <mat-icon>delete</mat-icon> 放弃
                </button>
            </mat-action-list>
        </app-layout-card>
        <app-layout-card *ngIf="wishListFinished!== undefined">
            已完成
            <mat-selection-list #wishes (selectionChange)="onSelectionFinished(wishes.selectedOptions.selected)">
                <mat-list-option *ngFor="let wishFinished of wishListFinished" [value]="wishFinished.id">
                    {{wishFinished.courseName}}
                </mat-list-option>
            </mat-selection-list>
            <mat-action-list *ngIf="isSelf&&wishListFinished&&wishListIdsFinished&&wishListIdsFinished!==[]&&wishListFinished!==[]">
                <button (click)="removeWishes(wishListIdsFinished)" mat-list-item aria-label="移除这些心愿">
                    <mat-icon>delete</mat-icon> 移除
                </button>
            </mat-action-list>
        </app-layout-card>
    </app-layout-content-aside>
</app-layout-content>
