<app-layout-content-fluid>
  <app-layout-card-fluid class="course-meta-card">
    <app-layout-content>
      <app-layout-content-main class="course-meta-wrapper">
        <div class="course-actions-group">
          <button color="primary" mat-stroked-button>
            <mat-icon>playlist_add</mat-icon>
            心愿课
          </button>
        </div>
        <h1 class="course-name">{{ course.courseName }}</h1>
        <h2 class="course-name-en">{{ course.courseNameEn }}</h2>
        <dl>
          <dt>课程号：</dt>
          <dd>{{ course.courseNumber }}</dd>
          <dt>学分数：</dt>
          <dd>{{ course.credits }}</dd>
          <dt>开课学院：</dt>
          <dd>{{ course.college }}</dd>
          <dt>课程类型：</dt>
          <dd>{{ course.type }}</dd>
        </dl>
      </app-layout-content-main>
      <app-layout-content-aside class="course-meta-wrapper">
        <p>总体评分：</p>
        <div class="reviews-stat">
          <span class="score">5.0</span>
          <span class="stars">★ ★ ★ ★ ★<br /><small>(1人评分)</small></span>
        </div>
      </app-layout-content-aside>
    </app-layout-content>
  </app-layout-card-fluid>
</app-layout-content-fluid>
<app-layout-content class="layout-content-2">
  <app-layout-content-main>
    <app-layout-card>
      <mat-card-title-group class="reviews-title-group">
        <mat-card-title class="reviews-title">评价<small>(共 3 条)</small></mat-card-title>
        {{ t }}
        <button (click)="openNewReviewDialog()" color="primary" mat-raised-button>
          <mat-icon>add_comment</mat-icon>
          写评价
        </button>
      </mat-card-title-group>
      <mat-card-content class="reviews-filter">
        <mat-chip-list>
          <span class="teachers-header">开设此课程的教师：</span>
          <mat-chip (click)="selectTeacher(teacher.id)" *ngFor="let teacher of teachers"
                    [selected]="selectedTeacherId === teacher.id"
                    selectable>{{ teacher.teacherName }}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </app-layout-card>
    <app-layout-card *ngFor="let i of [1, 2, 3]" class="review-card">
      <mat-card-header class="review-card__meta">
        <img alt="某某的头像" mat-card-avatar src="https://placekitten.com/200/200" />
        <mat-card-title>
          一只无名的小猫{{ i }}
        </mat-card-title>
        <mat-card-subtitle>
          <dl>
            <dt>选课时间：</dt>
            <dd>19-20春</dd>
            <dt>教师：</dt>
            <dd>邹国兵</dd>
            <dt>评价：</dt>
            <dd>★ ★ ★ ★ ★</dd>
          </dl>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>超喜欢邹老师的，上课上得好，说话又好听！（</p>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button class="icon-btn" color="accent" mat-stroked-button>
          <mat-icon>arrow_drop_up</mat-icon>
          有用
        </button>
      </mat-card-actions>
    </app-layout-card>
  </app-layout-content-main>
  <app-layout-content-aside>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of course.meta; let i = index" [expanded]="i == 0"
                           class="course-meta-list-item">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ item.name }}</mat-panel-title>
          <mat-panel-description>{{ item.nameEn }}</mat-panel-description>
        </mat-expansion-panel-header>
        <p class="course-meta-list-item__content">{{ item.content }}</p>
        <p *ngIf="item.contentEn != null" class="course-meta-list-item__content-en">{{ item.contentEn }}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </app-layout-content-aside>
</app-layout-content>
