<app-layout-content>
  <app-layout-content-main>
    <app-layout-card>
      这是首页

      <h3>快捷搜索</h3>
      <app-search-component>
      </app-search-component>
    </app-layout-card>
  </app-layout-content-main>
  <app-layout-content-aside>
    <app-layout-card>
      这是侧边栏

      <br>
      <button (click)="emailVerify()" color="primary" mat-raised-button>邮箱验证</button>
      <br>
      <button (click)="personalPage()" color="primary" mat-raised-button>
        个人主页
      </button>
    </app-layout-card>
  </app-layout-content-aside>
</app-layout-content>
