<h1 class="dialog-title" mat-dialog-title>成功</h1>
<div mat-dialog-content>
    <div class="content-field" floatLabel="always">
        {{data.courseName}} 已经添加至您的心愿课
    </div>
</div>
<mat-divider></mat-divider>
<mat-form-field class="chip-list">
    <mat-chip-list #chipList>
        <mat-chip
                *ngFor="let course of data.courses"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(course.courseId)">
            {{course.courseName}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
                placeholder="为您推荐的课程"
                [formControl]="courseCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let course of data.courses" [value]="course.courseId">
            {{courseName}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
<mat-divider></mat-divider>
<div>
感兴趣？
<mat-divider></mat-divider>
<button (click)="addBatch()" mat-raised-button>
    <mat-icon color="primary">check_circle</mat-icon> 添加至心愿单
</button>
</div>
