<form (ngSubmit)="onSubmit()" [formGroup]="InfoForm">
  <h4>填写个人兴趣 作为推荐依据</h4>
  <mat-form-field floatLabel="auto">
    <input [matDatepicker]="grade" [max]="maxDate" formControlName="grade" matInput placeholder="选择入学年份">
    <mat-datepicker-toggle [for]="grade" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #grade [startAt]="startDate" startView="multi-year"></mat-datepicker>
  </mat-form-field>

  <mat-form-field floatLabel="auto">
    <mat-select #major formControlName="major" placeholder="选择专业">
      <mat-option>-- 无 --</mat-option>
      <mat-optgroup *ngFor="let school of schools" [label]="school.label">
        <mat-option *ngFor="let major of school.majors" [value]="major.value">
          {{major.label}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>

  <h4>请根据个人兴趣选择你希望的课程模式</h4>
  <div *ngFor="let interest of interests">
    <mat-label>{{interest.label}}</mat-label>
    <mat-slider
      [(ngModel)]="interest.value"
      [displayWith]="formatLabel"
      [ngModelOptions]="{standalone: true}"
      max="100"
      min="0"
      step="25"
      thumbLabel
      tickInterval="25">
    </mat-slider>
  </div>
  <div class="form__submit-container">
    <button (click)="onSubmit()" [disabled]="!InfoForm.valid" color="primary" mat-raised-button>保存</button>
  </div>
</form>

