<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="search" id="source" placeholder="请输入课程号或课程名" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" (input)="updateOptions($event)">
    <mat-autocomplete autoActiveFirstOption (optionSelected)="handleSelected($event.option.value)"  #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        <mat-chip-list>
          <mat-chip>课程号:</mat-chip>
          {{option.courseNumber}}
          <mat-chip>课程名称:</mat-chip>
          {{option.courseName}}
          <mat-chip>学分:</mat-chip>
          {{option.credit}}
          <mat-chip>类型:</mat-chip>
          {{option.type}}
        </mat-chip-list>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
